@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --au-gold: #CBB677;
    --au-blue: rgb(0, 103, 172);
}

.assets-title {
    margin-bottom: 10px;
}
