@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --au-gold: #CBB677;
    --au-blue: rgb(0, 103, 172);
}

.assets-title {
    margin-bottom: 10px;
}

.pgbar-visible {
    margin: 20px;
    height: 8px;
}

.pgbar-hidden {
    display: none !important;
}

@keyframes dropdownAni {
    from {opacity: 0; scale: 95}
    to {opacity: 100; scale: 100}
}

.startDropdown {
    transform: none;
    animation-name: startDropdownAni;
    animation-duration: 4s;
    animation-direction: normal;
}

.stopDropdown {
    transform: none;
    animation-name: startDropdownAni;
    animation-duration: 4s;
    animation-direction: reverse;
}
